* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aqua;

}

/*grids*/

.container {  display: grid;
    grid-template-columns: 1.4fr 1.2fr 1.4fr 1fr;
    grid-template-rows: 0.5fr 2.2fr 0.7fr 0.6fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header header"
      "main main main main"
      "main main main main"
      "footer footer footer footer";
      border: black solid 10px;
  }
  
  .header { grid-area: header; }
  
  .main {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "tienda- tienda- tienda-"
      "barra barra barra"
      "ofertas ofertas ofertas"
      "productos productos productos";
    grid-area: main;
  }
  
  .tienda- { grid-area: tienda-; background-color: bisque;}
  
  .barra { grid-area: barra; background-color: blue;}
  
  .ofertas { grid-area: ofertas; background-color: darkgoldenrod;}
  
  .productos { grid-area: productos; background-color: blue;}
  
  .footer { grid-area: footer; }
  
  
/*flexbox*/

header {
    background-color: rgb(4, 10, 57);
    height: 80px;
    width: 1300px;
    display: flex;
    justify-content: space-around;
    font-style: inherit;
    border: solid 5px black;
    align-items: center;

    padding-left: 10px;
    color: white;

}

.logo {
    height: 90px;
    width: 90px;
    display: block;
}

.nombre {
    text-decoration-color: white;
}

.barra {
    
}

.visa {
    height: 5px;
    width: 5px;
}

.master {
    height: 5px;
    width: 5px;
}

.naranja {
    height: 5px;
    width: 5px;
}

.mp {
    height: 5px;
    width: 5px;
}

.puntos {
    color: white;
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
    width: 50px;
    flex: 1;
    line-height: normal;
    display: flex;
}

/*media*/

